html{
  min-height: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI Light', sans-serif;
  background-size: 100%;
  background-position: bottom;
  background-color: white;
  min-height: 100%
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

.nav-wrapper {
  background-color: #00233D !important;
}

div.login-wrapper{

  padding: 1vh 25vh;
}

button.login-btn{
  background-color: #20557D;
}

h3.thick{
  font-weight: bold;
}

/* NAV WRAPPER START*/
nav {
  height: 90px;
  line-height: 90px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  height: 90px;
  line-height: 90px;
}

nav .button-collapse i {
  height: 90px;
  line-height: 90px;
}

nav .brand-logo { 
  line-height: 90px;
  height: 100%
}

@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 90px;
      line-height: 90px;
  }
}
/* NAV WRAPPER END*/

.logo-image{
  background-image: url("/img/logo.png");
  background-size: 50px

}

ul.school-menu > li > button{
  margin-right:30px;
}

p.welcome{
  margin-top:0;
  margin-right:40px;
  font-size: 22px;
}

p.login {
  margin-top:5px;
  margin-right:40px;
  font-size: 15px;
}

nav.transparent{
  margin-top:0;
}

.btn{
  border-radius: 30px 30px 30px;
}
